# Dependency directories
node_modules/
videos/
reports/
target/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

package-lock.json

1-getting-started
2-advanced-examples